<div>Hello
    <div>
        {{#each userPosts as | Posts |}}
        <div>
            <h5>{{Posts.title}}</h5>
            <p>{{posts.content}}</p>
        </div>
        {{/each}}
    </div>
</div>